# Ignore Everything
/*

# Do not ignore gitignore file
!.gitignore

# Do not ignore specific folder
!/chrome

# Ignore specific folder
# /chrome/*
/chrome/Backup/*
/chrome/html/*

# Do not ignore specific folders and files
!/chrome/backgrounds
!/chrome/Backup
!/chrome/includes
!/chrome/userChrome.css
!/chrome/userContent.css
# !/chrome/html
