# Ignore Everything
/*

# Do not ignore gitignore file
!.gitignore

# Do not ignore specific folder
!/chrome

# Ignore everything in specific folder
/chrome/*

# Do not ignore specific folders and files
!/chrome/backgrounds
!/chrome/includes
!/chrome/userChrome.css
!/chrome/userContent.css
!/user.js