/*-min max close  buttons size */
/* adapt size to your needs */
.titlebar-button>.toolbarbutton-icon {
    /* height: 14px !important; */
    min-height: 10px !important;
    /* width: 14px !important; */
    min-width: 10px !important;
}

/* spaces between buttons */
.titlebar-button {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 6px !important;
}

/*-----------------------------------------*/

/* minimize button */
.titlebar-min {
    background-color: transparent !important;
}

.titlebar-min:hover {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    background-color: rgb(41, 41, 41) !important;
    border-radius: 50% !important;
}

/* maximize button */
.titlebar-max {
    background-color: transparent !important;
}

.titlebar-max:hover {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    background-color: rgb(41, 41, 41) !important;
    border-radius: 50% !important;
}

/* Restore Button */
.titlebar-restore{
    background-color: transparent !important;
}

.titlebar-restore:hover{
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    background-color: rgb(41, 41, 41) !important;
    border-radius: 50% !important;
}

/* close button */
.titlebar-close {
    background-color: transparent!important;
}

.titlebar-close:hover {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    background-color: rgb(174, 33, 106) !important;
    border-radius: 50% !important;
}

