.tabbrowser-tab:not([selected]) {
    max-width: 35px !important; min-width: 35px !important;

    max-width: 11vw !important;
    min-width: 11vw !important;
}

.tabbrowser-tab:not([selected]):hover {
    max-width: 11vw !important;
    min-width: 11vw !important;
}

.tabbrowser-tab {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    max-width: 11vw !important;
    min-width: 11vw !important;
}

.tabbrowser-tab:not([selected]) .tab-content:hover {
    color: var(--pink-color) !important;
    border: none !important;
    background-color: var(--grey-color) !important;
}

.tab-content[selected="true"]:hover{
    max-width: 11vw !important; min-width: 11vw !important;
}


/* #urlbar-input-container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
} */



/* #nav-bar {
    --navbar-margin: 0px;

    margin-top: var(--navbar-margin);
    margin-bottom: 0px !important;
    z-index: -100 !important;
    transition: all 0.3s ease !important;
    opacity: 0 !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
} */

/* #navigator-toolbox:focus-within>#nav-bar,
#navigator-toolbox:hover>#nav-bar {
    margin-top: 0px !important;
    margin-bottom: var(--navbar-margin);
    z-index: 100 !important;
    opacity: 1 !important;
} */


/* #urlbar-container:not(:focus-within) {
    opacity: 0 !important;
    display: 0 !important;
    min-height: 10px !important;
    max-height: 10px !important;
} */