/* full-screen-api.ignore-widgets = true */
@import './consts.css';

:root:not([chromehidden~="toolbar"]) {
    /* min-width: 1090px !important; */
    /* min-height: 618px !important;s */

    /* max-width: 1090px !important; */
    /* max-height: 614px !important; */

    max-width: 1920px !important;
    max-height: 1080px !important;
}

* {
    scrollbar-width: 10px !important;
}

/* Tab Border Color */

.tabbrowser-tab[selected="true"] {
    background: var(--grey-color) !important;
    /* background-color: var(--grey-color) !important; */
    /* border: 2px solid var(--pink-color) !important; */
    /* border-radius: 10px !important; */
    /* border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-top: 2px solid var(--pink-color) !important;
    border-right: 2px solid var(--pink-color) !important;
    border-left: 2px solid var(--pink-color) !important; */
    /* max-width: 35px !important; min-width: 35px !important; */
    /* border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important; */
    border-bottom: 2px solid var(--pink-color) !important;
}

#navigator-toolbox {
    border-bottom: none !important;
}

.tabbrowser-tab:not([selected]) {
    background: var(--toolbar-bgcolor) !important;
    background-color: var(--grey-color) !important;
    border-bottom: 0px solid !important;
}

.tabbrowser-tab:not([selected]) .tab-content {
    color: var(--pink-color) !important;
    background-color: var(--grey-color) !important;
}

.tabbrowser-tab[selected="true"] .tab-content {
    color: white !important;
    background: var(--grey-color) !important;
}

#PlacesToolbar menupopup[placespopup="true"] {
    --arrowpanel-background: var(--grey-color) !important;
    --arrowpanel-color: white !important;
    border: 0 !important;
    padding-top: 2px !important;
}

#PersonalToolbar {
    background: var(--grey-color) !important;
}

.titlebar-spacer {
    max-width: 5px !important;
    display: none !important;
}

/* https://stackoverflow.com/questions/5110249/wildcard-in-css-for-classes */
*[id^='customizableui-special-spring'] {
    background: var(--pink-color) !important;
    border: 7px solid var(--grey-color) !important;
    border-radius: 50% !important;
    margin: 8px !important;
}

#navigator-toolbox>toolbar:not(#TabsToolbar):not(#toolbar-menubar) menupopup[placespopup] {
    --moz-appearance: none !important;
    border: 0 !important;
    padding-top: 8px !important;
}

#customization-panelWrapper>.panel-arrowbox>.panel-arrow {
    margin-inline-end: initial !important;
}

#TabsToolbar {
    background: var(--grey-color) !important;
}


/* Stretch TabBar To Full Length */
/* .tabbrowser-tab[fadein]:not([pinned])[selected="true"] {
    max-width: none !important;
    overflow: hidden
} */

/* Remove "X" From Tabs Until Hovered */
/* https://www.reddit.com/r/FirefoxCSS/comments/12t8jmv/hide_tab_close_button_x_when_hovered/ */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
    visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    visibility: visible !important;
    display: block !important;
}


/* https://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class */
#tabbrowser-arrowscrollbox>.tabbrowser-tab, #scrollbutton-up {
    margin-left: var(--space-margin) !important;
}

#tabbrowser-arrowscrollbox> :last-child, #scrollbutton-down {
    margin-right: var(--space-margin) !important;
}

#tabbrowser-arrowscrollbox>.tabbrowser-tab~.tabbrowser-tab {
    margin: 0% !important;
}

.tabbrowser-tab:not([selected]) .tab-content:hover {
    background-color: var(--light-grey) !important;
}


/* #nav-bar {
    position: relative !important;
    height: 35px !important;
} */

/* Remove Speaker Button in Tabs */
.tab-icon-image {
    opacity: 1 !important;
}

/* Set URL Bar texts to center */
.urlbar-input-box{
    text-align: center !important;
}