

/* remove window control buttons */
.titlebar-buttonbox-container { 
    display: inherit !important; 
}

#back-button, 
#forward-button, 
#reload-button, 
#home-button, 
/* #nav-bar-overflow-button, */
#urlbar-go-button,
#pageActionButton
{
    display: none !important; 
}

#private-browsing-indicator-with-label > label {
    display: none !important;
}

#nav-bar{
    --navbar-margin: -1px;
    margin-top: var(--navbar-margin);
    margin-bottom: 0;
    z-index: -100;
    transition: all 0.1s ease !important;
    opacity: 0;
    display: block !important;
}

#navigator-toolbox:focus-within > #nav-bar{
    margin-top: 0px !important;
    /* margin-bottom: var(--navbar-margin); */
    transition: all 0.1s ease !important;
    margin-bottom: 0px !important;
    z-index: 100;
    opacity: 1;
}


.tab-background{ 
    border-radius: 0 !important; 
}

.tab-background[selected]{
    background: var(--toolbar-bgcolor) !important;
    background-color: black !important;
    border: 1px solid rgb(174, 33, 106) !important;
    border-radius: 5px !important;
}

.tabbrowser-tab:not([selected]) .tab-content{
    color: rgb(174, 33, 106) !important;
}

.tabbrowser-tab{
    min-height: 35px !important;
    max-height: 35px !important;
}

.bookmark-item:hover {
    border: 0.2px solid rgb(174, 33, 106) !important;
    border-radius: 50px !important;
    background: transparent !important;
}

.bookmark-item{
    border: 1px solid transparent !important;
}

#customizableui-special-spring95{
    min-width: 30px !important;
    max-width: 30px !important;
}

#nav-bar{
    min-height: 40px !important;
    max-height: 40px !important;
}

#customization-panelWrapper > .panel-arrowbox > .panel-arrow{ margin-inline-end: initial !important; }

#PersonalToolbar{
    margin-top: 1px !important;
}

#urlbar-container:not(:focus-within){
    opacity: 0 !important;
    display: 0 !important;
    min-height: 10px !important;
    max-height: 10px !important;
}