/* @-moz-document url("about:newtab"), url("about:home") {
    .outer-wrapper.ds-outer-wrapper-breakpoint-override.only-search.visible-logo {
        background-image: url("./Background.png"), url("./NewtabBackground.png");
        background-position: 0 -44px, 0 0 !important;
    }
} */

/* div.showPrivate.showSearch.container */
@-moz-document url("about:home"),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing") {
    .showPrivate.showSearch.container {
        display: none !important;
        visibility: hidden !important;
    }

    body {
        background: url('backgrounds/imgs/solid-color-image.png') center/cover no-repeat fixed !important;
    }
}